.Badges__hero {
    width: 100%;
    padding: 3rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 2rem;
    
  }
  
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Badges__container {
    width: 100%;
    max-width: 55em;
    margin: 0 auto;
  }
  
  
  .Badges__buttons {
    display: flex;
    justify-content: center;
    padding: 0 1em;
  }
  .buttonC{
    z-index: 1000 !important;
    margin: 1em 1em 2em 0;
    width:10em;
  }